<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benjamin Raskin | Homepage</title>
</head>
<body>

    <div class="dropdown">
      <!--<button class="dropbtn">Dropdown</button>-->
      <div id="myDropdown" class="dropdown-content">
        <a href="{{ url_for('index', neighborhood='') }}">See all</a>
        <a href="{{ url_for('index', neighborhood='Chelsea') }}">Chelsea</a>
        <a href="{{ url_for('index', neighborhood='Brooklyn') }}">Brooklyn</a>
        <a href="{{ url_for('index', neighborhood='East Village') }}">East Village</a>
        <a href="{{ url_for('index', neighborhood='Gramercy') }}">Gramercy</a>
        <a href="{{ url_for('index', neighborhood='Greenwich Village') }}">Greenwich Village</a>
        <a href="{{ url_for('index', neighborhood='LES') }}">LES</a>
        <a href="{{ url_for('index', neighborhood='Soho') }}">Soho</a>
        <a href="{{ url_for('index', neighborhood='Midtown') }}">Midtown</a>
      </div>
    </div>

    <div class="dropdown">
      <!--<button class="dropbtn">Dropdown</button>-->
      <div id="myDropdown" class="dropdown-content">
        <a href="{{ url_for('index', cost='$') }}">$</a>
        <a href="{{ url_for('index', cost='$$') }}">$$</a>
        <a href="{{ url_for('index', cost='$$$') }}">$$$</a>
        <a href="{{ url_for('index', cost='$$$$') }}">$$$$</a>
      </div>
    </div>

    {% for restaurant in restaurants %}
            <ul>
                <li>Neighborhood: <b>{{ restaurant[0] }}</b></li>
                <li>Cuisine: <b>{{ restaurant[1] }}</b></li>
                <li>Name: <b>{{ restaurant[2] }}</b></li>
                <li>Cost: <b>{{ restaurant[3] }}</b></li>
                <li>Been There: <b>{{ restaurant[4] }}</b></li>
                <li>Notes: <b>{{ restaurant[5] }}</b></li>
            </ul>
    {% endfor %}


</body>
</html>